<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Closet Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile.css') }}">
</head>

<body>

    <div id="sidebar" class="sidebar">

        <button class="close-sidebar" onclick="toggleSidebar()">✕</button>

        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <a href="/upload">Upload</a>
        <a href="/closet">My Closet</a>
        <a href="/recommend">Recommend Outfit</a>
        <a href="/logout">Logout</a>

    </div>

    <div class="navbar">

        <div class="left-nav">

            <button class="menu-btn" onclick="toggleSidebar()">☰</button>

            <h2 class="logo">Smart Closet</h2>

        </div>

    </div>

    <div class="dashboard-page">

        <div class="dashboard-box">

            <h1>Dashboard</h1>

            <div class="dashboard-card">

                <h2>uploaded Clothes</h2>

                <div class="home-clothes">

                    {% if saved_clothes %}

                        {% for item in saved_clothes %}

                            <div class="home-clothes-card">

                                <img src="{{ url_for('static', filename='uploads/' + session['user'] + '/' + item[0]) }}">

                                <p>{{ item[1] }} - {{ item[2] }} </p>

                            </div>

                        {% endfor %}

                    {% else %}

                        <p>No clothes uploaded yet.</p>

                    {% endif %}

                </div>

            </div>

            <div class="dashboard-card">

                <h2>Current Weather</h2>

                <p id="weather-info">
                    Loading weather...
                </p>

            </div>

            <div class="dashboard-buttons">

                <a href="/profile">
                    <button class="dash-btn">Profile</button>
                </a>

                <a href="/recommend">
                    <button class="dash-btn main-dash-btn">Recommend Outfit</button>
                </a>

                <a href="/upload">
                    <button class="dash-btn">upload</button>
                </a>

            </div>

        </div>

    </div>

    <script>

        function toggleSidebar(){
            document.getElementById("sidebar").classList.toggle("show-sidebar");
        }

        if(navigator.geolocation){

            navigator.geolocation.getCurrentPosition(function(position){

                let lat = position.coords.latitude;
                let lon = position.coords.longitude;

                fetch(`/current_weather?lat=${lat}&lon=${lon}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("weather-info").innerText =
                            data.temperature + "°C | " +
                            data.condition + " | " +
                            data.weather_type;
                    })
                    .catch(error => {
                        document.getElementById("weather-info").innerText =
                            "Unable to load weather.";
                    });

            }, function(){
                document.getElementById("weather-info").innerText =
                    "Location permission denied.";
            });

        }

        else{
            document.getElementById("weather-info").innerText =
                "Geolocation is not supported.";
        }

    </script>

</body>

</html>